@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/*---------------------------Globais-------------------------*/
html{
    font-family: 'Noto Serif', serif;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p{
    margin: 0;
}


/*--------------------------Cabeçalho-----------------------*/

a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    height: 8vh;
    padding: 5px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #033a52;
    height: 10vh;
    position: fixed;
    width: 100%;
}

.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    /*escondemos o menu sanduwshi, vai aparecer apartir de 999px*/
    cursor: pointer;
}

.mobile-menu div{
    /*representação de cada linha*/
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
}

main{
    max-width: 2560px;
    width: 100%;
    margin: auto;
}

/*---------------------------------MAIN-BANNER----------------------------*/
.mainBanner{
    background: url(../img/Banner/Banner-1.jpeg) no-repeat center center;
    background-size: cover;
    height: 85vh;
    background-position: 90% 0%;
}

#mainTitulo-1{
    font-size: 45px;
    padding-top: 35vh;
    letter-spacing: 3px;
    text-align: center;
}

#mainTitulo-2{
    font-size: 45px;
    letter-spacing: 3px;
    text-align: center;
}

.mainBanner p{
    text-align: center;
    padding-top: 20px;
    text-align: center;
    letter-spacing: 3px;
}

/*---------------------------------button-Whatsapp----------------------------*/
.bannerButton{
    text-align: center;
    padding-top: 10vh ;
}

.style_button{
    color: white;
    font-size: 22px;
    background: rgb(49, 211, 49);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px; 
    border: 1px solid rgb(49, 211, 49);
    box-shadow: 0 0 1em black;
    letter-spacing: 3px;
}

.style_button:hover{
    color: rgb(49, 211, 49);
    background-color: white;
}

/*---------------------------------MAIN-Títulos----------------------------*/
.containerTitulo{
    background-color: #033a52;
    padding: 60px;
    box-shadow: 0 0 1em black;
}

.containerTitulo h1{
    font-size: 35px;
    text-align: center;
    color: white;
    letter-spacing: 3px;
}

.containerTitulo h3{
    font-size: 22px;
    text-align: center;
    color: white;
    letter-spacing: 3px;
}

/*---------------------------------MAIN-section----------------------------*/
.formcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.conteudoTextual{
    width: 60%;
    min-height: 600px;
}

.conteudoTextual ul{
    margin: 30px;
    font-size: 15px;
    color: black;
    text-align: justify;
    letter-spacing: 1.5px;
    line-height: 50px;
}

.conteudoVisual{
    width: 40%;
    height: 600px;
    background-color: #bad4df;
}

.conteudoVisual img{
    margin-top: 45px;
    margin-left: 70px;
}

/*-----------------------MAIN-Certificados---------------------------*/

.certificados img{
    margin: 40px;
}

/*-----------------------MAIN-banner-Quotes--------------------------*/
.bannerQuotes-1{
    background-image: url(../img/Banner/banner-3.jpg);
    background-size: cover;
    background-position: 0 60%;
    background-attachment: fixed;
}

.bannerQuotes-1 h1{
    font-size: 22px;
    color: white;
    padding: 300px;
    padding-right: 50px;
    padding-left: 50px;
    /*melhora a responsividade para telas pequenas que não são de celulares*/
    text-align: center;
}

.bannerQuotes-2{
    background-image: url(../img/Banner/banner-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bannerQuotes-2 h1{
    font-size: 22px;
    color: white;
    padding: 300px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

/*--------------------------footer-template-----------------------*/
footer{
    width: 100vw;
    background: url(../img/global/Footer-02.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.social-media{
    display: flex;
    color: #ffff;
    font-size: 5vh;
    align-items: center;
    flex-direction: row;
}

.social-media a{
    margin-right: 50px;
}
.social-media a:nth-child(4){
    margin-right: 0;
}

.social-media a:hover{
    transform: scale(1.3);
}

.info{
    color: #ffff;
}
.info h2{
    text-align: center;
}

/*-------------------------Mobile-Menu-999PX---------------------*/
@media screen and (max-width: 999px) {

    body{
        overflow-x: hidden;
        /*essa tag faz com que se algo que transborde ficara escondido pelo body*/
    }

    .nav-list{
        position: absolute;
        /*podemos posicionar nossa navegaçao*/
        top: 8vh;
        right: 0;
        width: 45vw; 
        /*porcentagem da tela que vai cobrir nosso menu uma vez aberto*/
        height: 92vh;
        background: #033a52;
        flex-direction: column;
        /*posicionamos os elementos em coluna um abaixo do outro*/
        align-items: center;
        justify-content: space-around;
        /*Faz com que o espaço ao redor seja a metade do espaço entre eles*/
        transform: translateX(100%);
        /*colocamos nosso menu 100% para fora da pagina, porem isso fez criar uma barra de 
        scrool vertical, para solucionar usamos no nosso body a tag overflow-x: hidden;*/
        transition: transform 0.3s ease-in;
    }

    .nav-list.active{
        /*active é a classe que iremos adcionar no JS*/
        transform: translateX(0);
    }

    .nav-list li{
        margin-left: 0;
        /*para garantir que os itens estejam corretamente alinhados*/
        opacity: 0;
        /*funcionamento com a animaçao*/
    }

    .mobile-menu{
        display: block;
        /*para aparecer o icone do menu*/
    }
    
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);

}

.mobile-menu.active .line2{
    opacity: 0;
    
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);   
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }

}


